.main-header {
  color: var(--font-light);
  text-align: center;
  margin: 0;
  background-color: var(--wild-saumon);
  height: 3rem;
  text-align: center;
  box-shadow: 0 0 10px #353535a8;
  transition: all 0.3s ease-in;
}

.main-header.open {
  height: 8rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-title {
  margin: 0;
}

.main-title > .nav-link {
  padding-top: 1rem;
  font-size: 1.5rem;
}

.content-items-nav-desktop {
  display: none;
}

.main-nav-mobile {
  align-self: flex-start;
  text-align: left;
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.main-header.open .main-nav-mobile {
  display: initial;
  opacity: 1;
}

.burger {
  width: 3rem;
  height: 1.5rem;
  right: 2rem;
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  cursor: pointer;
}

.slice-burger {
  position: absolute;
  display: block;
  height: 0.15rem;
  width: 2.5rem;
  border-radius: 5px;
  background-color: var(--font-light);
  transition: all 0.1s linear;
}

.slice-burger:nth-child(1) {
  transform: scaleX(1);
}

.slice-burger:nth-child(2),
.slice-burger:nth-child(3) {
  transform: rotate(0);
  top: 50%;
}

.slice-burger:nth-child(4) {
  transform: scaleX(1);
  top: 100%;
}

.burger.open .slice-burger:nth-child(1),
.burger.open .slice-burger:nth-child(4) {
  transform: scaleX(0);
}

.burger.open .slice-burger:nth-child(2),
.burger.open .slice-burger:nth-child(3) {
  transform: rotate(45deg);
}

.burger.open .slice-burger:nth-child(3) {
  transform: rotate(-45deg);
}

.content-items-nav-mobile {
  list-style: none;
}

.content-items-nav-mobile {
  padding: 0;
  padding-left: 1rem;
}

.items-nav-mobile {
  margin-bottom: 0.2rem;
}

.nav-link {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--font-light);
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-title {
    margin-left: 1rem;
    padding: 0;
  }

  .content-items-nav-desktop {
    display: flex;
    margin-right: 1rem;
  }

  .items-nav-desktop {
    list-style: none;
    padding-left: 1rem;
  }
}
