@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");

:root {
  --wild-saumon: #f76c6c;
  --font-light: #eee;
  --font-dark: #383838;
  --background-footer: #39424e;
  --valid: #41b56f;
  --error: #c62828;
  --saumon-pale: #fba6a6;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: var(--font-dark);
}

.main-header,
h1,
h2,
h3,
h4 {
  font-family: "Varela Round", sans-serif;
}

/* Header ====================================================*/

.main-header {
  position: fixed;
  top: 0;
  width: 100vw;
  color: var(--font-light);
  text-align: center;
  margin: 0;
  background-color: var(--wild-saumon);
  height: 3rem;
  text-align: center;
  box-shadow: 0 0 10px #353535a8;
  transition: height 0.3s ease-in;
}

.main-header.open {
  height: 9rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-title {
  margin: 0;
  margin-top: 0.2rem;
}

.main-title > .nav-link {
  font-size: 1.5rem;
}

.content-items-nav-desktop {
  display: none;
}

.main-nav-mobile {
  align-self: flex-start;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.main-header.open .main-nav-mobile {
  visibility: initial;
  opacity: 1;
}

.burger {
  width: 3rem;
  height: 1.5rem;
  right: 2rem;
  position: absolute;
  right: 0.3rem;
  top: 0.6rem;
  cursor: pointer;
}

.slice-burger {
  position: absolute;
  display: block;
  height: 0.15rem;
  width: 2.5rem;
  border-radius: 5px;
  background-color: var(--font-light);
  transition: all 0.2s linear;
}

.slice-burger:nth-child(1) {
  transform: scaleX(1);
}

.slice-burger:nth-child(2),
.slice-burger:nth-child(3) {
  transform: rotate(0);
  top: 50%;
}

.slice-burger:nth-child(4) {
  transform: scaleX(1);
  top: 100%;
}

.burger.open .slice-burger:nth-child(1),
.burger.open .slice-burger:nth-child(4) {
  transform: scaleX(0);
}

.burger.open .slice-burger:nth-child(2),
.burger.open .slice-burger:nth-child(3) {
  transform: rotate(45deg);
}

.burger.open .slice-burger:nth-child(3) {
  transform: rotate(-45deg);
}

.content-items-nav-mobile {
  list-style: none;
}

.content-items-nav-mobile {
  padding: 0;
  padding-left: 1rem;
}

.items-nav-mobile {
  margin-bottom: 0.4rem;
}

.nav-link {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--font-light);
}

/* Content =====================================================*/

.main-content-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.content-message-intro {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 3rem;
  max-width: 20rem;
}

.input {
  font-family: "raleway";
  border: none;
  outline: none;
  border-bottom: 0.1rem solid var(--font-dark);
  transition: all 0.1s linear;
  background-color: transparent !important;
  font-size: 1rem;
}

.label-placeholder {
  font-family: "raleway";
  cursor: text;
  position: relative;
  transform: translate(0, -2.5rem) scale(1);
  width: max-content;
  transition: all 0.2s linear;
}

.input:focus {
  border-color: skyblue;
}

.input-name:focus ~ .label-name,
.input-email:focus ~ .label-email,
.input-name:not(:placeholder-shown) ~ .label-name,
.input-email:not(:placeholder-shown) ~ .label-email {
  color: #909090;
  transform: translate(-0.3rem, -3.8rem) scale(0.8);
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 3rem;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
}

.btn-valid {
  background-color: var(--valid);
  color: var(--font-light);
}

.btn-error {
  background-color: var(--error);
  color: var(--font-light);
}

.btn-signup {
  background-color: var(--wild-saumon);
  color: var(--font-light);
}
/* Footer =====================================================*/

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--background-footer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.items-footer .nav-link {
  font-size: 1rem;
}

.content-items-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.items-footer {
  margin-bottom: 0.5rem;
  list-style: none;
}

.logo-WCS {
  width: 6rem;
  margin-right: 2rem;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-title {
    margin-left: 1rem;
    padding: 0;
  }

  .content-message-intro {
    font-size: 1.5rem;
    line-height: 4rem;
    max-width: 30rem;
  }

  .main-title > .nav-link {
    padding-top: 0;
    display: block;
    width: max-content;
  }

  .content-items-nav-desktop {
    display: flex;
    margin-right: 1rem;
  }

  .items-nav-desktop {
    list-style: none;
    padding-left: 1rem;
    width: max-content;
  }

  /* Main =======================================================*/

  .main-content-home {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .btn-valid:hover {
    box-shadow: 0 5px 6px #383838b0;
  }

  .btn-valid:active {
    box-shadow: 0 0 0;
  }

  .btn-signup:hover {
    box-shadow: 0 5px 6px #383838b0;
  }
  /* Footer =====================================================*/

  .content-items-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .items-footer {
    margin-bottom: 0.5rem;
    list-style: none;
    margin-left: 1rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 475px) {
  .main-content-home {
    margin-top: 5rem;
    margin-bottom: 8.5rem;
  }
}
