/*----------header----------*/

/*------links to index------*/

/*-----------body-----------*/
h1 {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  margin-top: 6vh;
  padding-top: 3vh;
  text-align: center;
}


/*formulaire*/
.formulaire {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  height: 20vh;
  margin:  0; 
  padding:  2rem;
  
}

.cadre-form {
  height: 10vh;
  width: 70vw;
  list-style: none;
  background-color: #eee;
  border-radius: 5px;
  margin: 0;
  padding: 2rem;
  border: solid  #fba6a6 2px;
}
/* règlement*/
.scroller {
  background-color: #eee;
  height: 30vh;
  width: 70vw;
  margin: 0.5vh 0.5vw 0 0.5vw;
  border: solid  #fba6a6 2px;
  border-radius: 5px;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding: 0 2rem;


}
.validation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
  width : 70vw;
}

.checkbox {
  padding: 2% 0;
}

.btn {
  height : 5vh;
  width : 20vw;
  text-align: center;
  padding: 0;
}

/*----------footer----------*/

/*------links to index------*/

/* RESPONSIVE */

@media screen and (min-width: 768px) {
  main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin : 0 2.5vw;
  }
  .title{
    width : 100vw;
    margin-bottom: 10vh;
    margin: 10vh;
  }

  .formulaire{
  max-width : 40vw;
  height : 35vh;
  }
.cadre-form {
  max-width : 40vw;
  height : 30vh;
  margin : 0;
}
.scroller{
  max-width : 40vw;
}





  }
