/* PRESET*/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/**/
.page-title {
  text-align: center;
  margin-top: 5rem;
}

/*Début formulaire*/
form {
  border: solid black 1px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Unorder-list*/
.grp-input {
  margin: 0;
  padding: 0 0.25vw 0 0.25vw;
  background-color: lightgray;
  margin: 0 5vw 0 5vw;
  border-radius: 0.5rem;
  height: 30vh;
  width: 90vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-form {
  width: 80vw;
}
.input-form > input,
select {
  box-sizing: border-box;
  width: 100%;
}

/*Début règlement*/
.scroller {
  width: 90vw;
  height: 30vh;
  margin: 0.5vh 0.5vw 0 0.5vw;
  border: solid salmon 3px;
  border-radius: 0.5rem;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.scroller p {
  margin-top: 0;
}
/*Fin règlement */

.checkbox {
  display: inline;
}
