.main-title {
  margin-top: 0.5rem;
}

.main-contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1em;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.content-profile {
  display: flex;
  flex-direction: column;
}

.profile {
  margin-left: 0;
  display: flex;
  flex-direction: row;
}

.profile-photo {
  border-radius: 5rem;
  max-width: 6.25rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-style: normal;
  margin-left: 0.5rem;
}

.team-description {
  text-align: center;
  line-height: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.form-contact {
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-contact > .btn {
  align-self: flex-start;
  margin-top: 0.5rem;
}

.form-contact > .btn-disabled:focus {
  background-color: #eee;
}

.message-contact {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 0.5px solid var(--font-dark);
  max-height: 6rem;
}

.valid-form {
  border-color: var(--valid);
}
.error {
  color: var(--error);
  font-weight: 600;
  border-color: var(--error);
}

.error-name,
.error-email {
  display: none;
  animation-name: anim-error;
  animation-duration: 0.8s;
  border-color: var(--error);
  transform: translateY(-2rem);
}

@keyframes anim-error {
  from {
    opacity: 0;
    transform: translateY(-2.8rem);
  }
  40% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(-2rem);
  }
}

@media screen and (min-width: 768px) {
  .main-title {
    margin-top: 0;
  }

  .main-contact {
    padding-top: 2.5rem;
    padding-bottom: 0;
    height: 81vh;
  }

  .profile {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  .content-profile {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .profile-photo {
    max-width: max-content;
  }

  .profile-info {
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    margin-left: 0;
  }

  .profile-info > a {
    margin-top: 1rem;
  }

  .container-flex {
    display: flex;
    align-items: center;
    height: 18rem;
  }

  .container-form {
    flex: 1;
    max-width: 45vw;
    display: flex;
    justify-content: center;
  }

  .form-contact {
    height: 20rem;
    max-width: 30rem;
    width: 35vw;
  }

  .separate {
    align-self: normal;
    border-color: #c5c5c5;
  }

  .team-description {
    text-align: left;
    flex: 1;
    max-width: 45vw;
  }

  .input {
    max-width: 20rem;
    margin-top: 0.5rem;
  }

  .label-placeholder {
    transform: translate(0, -1.5rem) scale(1);
  }

  .input-name:focus ~ .label-name,
  .input-email:focus ~ .label-email,
  .input-name:not(:placeholder-shown) ~ .label-name,
  .input-email:not(:placeholder-shown) ~ .label-email {
    transform: translate(-0.3rem, -2.5rem) scale(0.8);
  }

  .message-contact {
    max-width: 30rem;
  }

  .error-name,
  .error-email {
    outline: none;
    border-color: var(--error);
    transform: translateY(-1rem);
  }

  @keyframes anim-error {
    from {
      opacity: 0;
      transform: translateY(-2.8rem);
    }
    20% {
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(-1rem);
    }
  }
}
